/* default resets */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(4, 103, 103);
}

/* styles the main header */
#mainHeader{
    height: 35px;
    background-color: palevioletred;
    color: honeydew;
    padding: 3px 10px;
    text-align: center;
}
/* sets the div that holds everything to flex */
#mainDiv{
    display: flex;
    
}
/* styles the search section of the page */
aside{
    display: flex;
    width: 200px;
    flex-direction: column;
    height: 100%;
    background-color: aquamarine;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
}
/* the styles for the current city display */
#currentCity{
    border-width: 3px;
    border-radius: 10px;
    flex-grow: 1;
    height: 200px;
    width: 300px;
    background-color: aquamarine;
    margin: 10px;
    padding: 7px;
}
#rightSide{
    flex-direction: column;
    display: flex;
}
/* the styles fot the 5 day forcast section */
#forcast{
    display: flex;
    flex-grow: 1;
    height: 300px;
    width: 95%;
    background-color: aquamarine;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
}
/* sets background color of the clear search BTN */
#clear{
    background-color: rgb(241, 102, 102);
}
/* sets background color to the submit BTN */
#inputBtn{
    background-color: rgb(44, 231, 109);
width: 75px;
}
/* styles the city search box */
#cityinput{
    background-color: rgb(112, 187, 253);
    width: 150px;
    height: 20px;
    margin: 5px;
    padding: 3px;
    border-radius: 4px;
}
/* makes the date appear larger than the other elements for readability */
.timeDiv{
    font-size: 20px;
    font-weight: 600;
}
/* makes the date appear larger than the other elements for readability */
#timeDiv{
    font-size: 20px;
    font-weight: 600;
}
/* makes the current city name appear larger than the other elements for readability */
#cityName{
    font-size: 25px;
    font-weight: 600; 
}
/* adds the border around the forcast dates */
.forcastEls{
    border: 2px solid  rgb(241, 102, 102);
    border-radius: 9px;
    margin: 5px;
}
/* media queries */

@media screen and (max-width:400px){
    #forcast{
        flex-direction: column;
        height: 100%;
        
    }
    
}